#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>

/ {
	chosen {
		zephyr,display = &st7789v;
	};

	mipi_dbi {
		compatible = "zephyr,mipi-dbi-spi";
		status = "okay";

		spi-dev = <&spi3>;
		write-only;

		dc-gpios    = <&gpiob 4 GPIO_ACTIVE_HIGH>;	/* DET */
		reset-gpios = <&gpiob 6 GPIO_ACTIVE_LOW>;	/* RESX reset */

		#address-cells = <1>;
		#size-cells = <0>;

		/* Sitronix ST7789V LCD */
		st7789v: st7789v@0 {
			compatible = "sitronix,st7789v";
			status = "okay";
			reg = <0>;

			mipi-mode = <MIPI_DBI_MODE_SPI_4WIRE>;
			mipi-max-frequency = <8000000>; /* 8MHz */

			width = <240>;
			height = <240>;
			x-offset = <0>;
			y-offset = <0>;

			vcom = <0x19>;
			gctrl = <0x35>;
			vrhs = <0x12>;
			vdvs = <0x20>;
			mdac = <0x00>;
			gamma = <0x01>;
			colmod = <0x05>;
			lcm = <0x2c>;
			porch-param = [0c 0c 00 33 33];
			cmd2en-param = [5a 69 02 01];
			pwctrl1-param = [a4 a1];
			pvgam-param = [D0 04 0D 11 13 2B 3F 54 4C 18 0D 0B 1F 23];
			nvgam-param = [D0 04 0C 11 13 2C 3F 44 51 2F 1F 1F 20 23];
			ram-param = [00 F0];
			rgb-param = [CD 08 14];
		};
	};
};

&i2c3 {
	compatible = "st,stm32-i2c-v2";
	pinctrl-0 = <&i2c3_scl_pc0 &i2c3_sda_pc1>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	status = "okay";
};

&spi3 {
	status = "okay";

	pinctrl-0 = <&spi3_sck_pb3 &spi3_miso_pb4 &spi3_mosi_pb5>;
	pinctrl-names = "default";

	cs-gpios = <&gpiod 7 GPIO_ACTIVE_LOW>;
};

